.itemDetailsBox {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 30px;
}

.namePriceWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nameTitle,
.priceText {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-24-32);
    letter-spacing: var(--letter-spacing-0);
}

.ratingBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ratingBoxInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ratingBoxInfoText {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-12-16);
    letter-spacing: var(--letter-spacing-0);
}

.textUnderline {
    position: relative;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-12-16);
    letter-spacing: var(--letter-spacing-0);
}

.textUnderline::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: currentColor;
}

.iconStar {
    fill: var(--rating);
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.galleryImage {
    width: 292px;
    height: 312px;
    object-fit: cover;
    border-radius: 10px;
}

.featuresRevievsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-light);
    margin-bottom: 44px;
}

.tabButton {
    display: flex;
    padding-bottom: 12px;
    background-color: transparent;
    color: var(--main);
    border-radius: 0;
    padding: 12px 18px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-16-24);
    letter-spacing: var(--letter-spacing-0);
}

.tabButton:hover {
    background-color: transparent;
    border-bottom: 5px solid var(--button-hover);
}

.tabButton.active {
    background-color: transparent;
    border-bottom: 5px solid var(--button-hover);
}

.description {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-16-24);
    letter-spacing: var(--letter-spacing-0);
    color: var(--text);
}

.featuresFormBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .ratingBox {
        justify-content: flex-start;
        gap: 24px;
    }

    .ratingBoxInfoText,
    .textUnderline {
        font-size: var(--font-size-16);
        line-height: var(--line-height-16-24);
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .featuresRevievsBox {
        justify-content: flex-start;
    }

    .featuresFormBox {
        align-items: center;
    }

    .tabButton {
        font-size: var(--font-size-20);
        line-height: var(--line-height-20-24);
    }
}

@media screen and (min-width:1440px) {

    .gallery {
        gap: 48px;
    }

    .itemDetailsBox {
        gap: 28px;
        margin-bottom: 60px;
    }

    .featuresFormBox {
        flex-direction: row;
    }
}