.background {
    background-color: var(--inputs);
}

.navBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    max-width: 320px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-self: center;
}

.linksBox {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navLink {
    color: var(--main);
    font-size: var(--font-size-16);
    line-height: var(--line-height-16-24);
    letter-spacing: var(--letter-spacing-0);
}

.navLink:hover,
.navLink:focus {
    color: var(--button-hover);
}

.active {
    color: var(--button-hover)
}

@media screen and (min-width: 768px) {
    .navBox {
        max-width: 768px;
        gap: 160px;
        justify-content: flex-start;
        padding: 16px 32px;
    }

        .linksBox {
            gap: 32px;
        }
}

@media screen and (min-width: 1440px) {
    .navBox {
            gap: 450px;
            padding: 24px 64px;
            max-width: 1440px;
        }
}