.listItemBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    max-width: 320px;
    border: 1px solid var(--gray-light);
    border-radius: 20px;
}

.image {
    height: 320px;
    width: 292px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    width: 100%;
}

.namePriceWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.namePriceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.priceBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.nameTitle {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-24-32);
    letter-spacing: var(--letter-spacing-0);
}
.priceText {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-16-24);
    letter-spacing: var(--letter-spacing-0);
}

.ratingBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ratingBoxInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ratingBoxInfoText {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-12-16);
    letter-spacing: var(--letter-spacing-0);
}

.textUnderline {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-12-16);
    letter-spacing: var(--letter-spacing-0);
    position: relative;
}

.textUnderline::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: currentColor;
}

.iconHeart:hover {
    fill: var(--button);
}

.iconStar {
    fill: var(--rating);
}

.descText {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-12-16);
    letter-spacing: var(--letter-spacing-0);
    color: var(--text);
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    max-width: 140px;
    padding: 12px 18px;
}

 .Water,
 .Gas,
 .Microwave {
     fill: none;
     stroke: var(--main);
 }

 .iconHeart {
     cursor: pointer;
     fill: var(--main);
 }

 .filledHeart {
     fill: var(--button-hover);
 }

@media screen and (min-width: 768px) {
    .listItemBox {
        flex-direction: row;
        max-width: 768px;
}

    .infoWrapper {
        max-width: 524px;
    }

    .descText {
        font-size: var(--font-size-16);
        line-height: var(--line-height-16-24);
}

    .textUnderline,
    .ratingBoxInfoText {
        font-size: var(--font-size-16);
        line-height: var(--line-height-16-24);    
    }
}

@media screen and (min-width:1440px) {

    .listItemBox {
        padding: 24px;
        max-width: 888px;
    }

    .priceBox {
        flex-direction: row;
    }

    .ratingBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
    }

    .nameTitle,
    .priceText {
        font-size: var(--font-size-24);
        line-height: var(--line-height-24-32);
    }

    .descText {
        max-width: 525px;
    }

    .button {
        max-width: 166px;
        padding: 16px 32px;
    }

    .Water,
    .Gas,
    .Microwave {
        fill: none;
        stroke: var(--main);
    }

    .iconHeart {
        cursor: pointer;
        fill: var(--main);
    }

    .filledHeart {
        fill: var(--button-hover);
    }
}