.badgesList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 104px;
    overflow: auto;
}

.badgesItem {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 12px 18px;
    background-color: var(--badges);
    border: none;
    border-radius: 30px;
    max-width: max-content;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-16-24);
    letter-spacing: var(--letter-spacing-0);
}

.badgesItem::first-letter {
    text-transform: uppercase;
}

.Water,
.Gas,
.Microwave {
    fill: none;
    stroke: var(--main);
}